.cartItem {
    display: flex;
    height: 100px;
    align-items: center;

    &__imgInner {
        width: 50px;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            max-height: 85px;
        }
    }
    &__name,
    &__qty,
    &__price,
    &__total,
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border: 1px solid #e5e5e5;
        border-right: none;
        border-top: none;
        height: 100%;
        width: 100%;
    }
    &__img {
        max-width: 120px;
    }
    &__name {
        max-width: 290px;
    }
    &__qty {
        max-width: 290px;
    }
    &__qtyInner {
        padding: 6px 12px;
        border: 1px solid #e5e5e5;
        margin-right: 10px;
    }
    &__qtyDelBtn {
        display: flex;
        justify-content: center;
        width: 34px;
        height: 34px;
        display: flex;
        background-color: #d9534f;
        align-items: center;
        opacity: 0.7;
        svg {
            width: 25px;
            height: 25px;
            fill: #fff;
        }
        &:hover {
            opacity: 1;
        }
    }
    &__price {
        max-width: 120px;
    }
    &__total {
        max-width: 120px;
        border-right: 1px solid #e5e5e5;
    }
}